<!-- templates/about.html -->
{% extends "base.html" %}

{% block title %}About - Bosky Pickle{% endblock title %}

{% block content %}
<div class="container">
  <h2>How It Works</h2>

  <p>
    Welcome to Bosky Pickle, your friendly neighborhood pickleball league! Unlike other sports leagues, Bosky Pickle
    puts you in control of choosing when and where you play your matches. Here's how it works:
  </p>

  <br> <!-- Space between items -->

  <ol>
    <li>
      <strong>Joining the League</strong>
      <ul>
        <li>Register an account to join the league and gain access to the site’s features</li>
        <li>Registering will place you in a 6-person division</li>
        <li>The regular season will be 5 weeks long</li>
        <li>Everyone plays each other over the course of the season</li>
      </ul>
    </li>
    <br> <!-- Space between list items -->
    <li>
      <strong>Match Deadlines and Guidelines</strong>
      <ul>
        <li>Each match has a deadline</li>
        <li>The HOME team is responsible for any court dues if playing at a paid facility</li>
        <li>Each match consists of 3 games to 21 points</li>
        <li>The games are win by 2 or first to 25</li>
      </ul>
    </li>
    <br> <!-- Space between list items -->
    <li>
      <strong>Reporting Match Results</strong>
      <ul>
        <li>The HOME team is responsible for submitting match outcomes</li>
        <li>40 points are awarded if a player wins the match</li>
        <li>20 points are awarded if a player wins at least one game</li>
        <li>10 points are awarded if a player participates</li>
        <li>0 points are awarded if a player forfeits</li>
      </ul>
    </li>
    <br> <!-- Space between list items -->
    <li>
      <strong>Tracking Progress and Standings</strong>
      <ul>
        <li>Standings are based on match points</li>
        <li>Each player also has a Pickleball Rating (PBR) which is the percentage of games won</li>
        <li>PBR is used as a tiebreaker for match points and will eventually be used to group players into
          different leagues</li>
      </ul>
    </li>
    <br> <!-- Space between list items -->
    <li>
      <strong>Playoffs and Championship</strong>
      <ul>
        <li>Players are seeded based on their regular season performance</li>
        <li>The top two teams get a bye</li>
        <li>The league champion gets bragging rights and some type of prize</li>
      </ul>
    </li>
  </ol>

  <br> <!-- Space between items -->

  <h2>Join the Flexible Pickleball League</h2>

  <p>
    Ready to take on the challenge and embark on an unforgettable pickleball journey? Tired of your friend bragging
    about how good he or she is at this wacky new sport pickleball?! Join the Bosky Pickle league today
    and experience the perfect blend of competition, camaraderie, and convenience.
  </p>
</div>
{% endblock content %}